@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
    --green-color: #5bf870;
    --green-bg: #05321e;
    --off: #050505;
    --dark: #111;
    --term: "$ ";
}

.theme-green {
    --color: var(--green-color);
    --bg: var(--green-bg);
}

html {
    font-size: 12px;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #111;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

hr {
    border-color: var(--green-color);
}

a {
    color: #009dff;
}

a:visited {
    color: #0076be;
}

a:hover {
    color: #70c6fd;
}

a:hover::before {
    content: '[ '
}

a:hover::after {
    content: ' ]'
}

#crt,
pre {
    font-family: "VT323", monospace;
}
#crt {
    min-width: 80ch; /* This makes 80 monospace characters fit on the screen */
    min-height: 100vh;
    font-size: max(
            1rem,
            2.2vmin
    ); /* Scale the font-size relative to the minimum screen dimension */
    position: relative;
    background: var(--bg);
    background-image: radial-gradient(
            ellipse,
            var(--bg) 0%,
            var(--off) 90%
    );
    animation: on 2s linear;
    transition: all 0.5s;
    overflow: hidden;
}

#crt:after {
    content: "";
    opacity: 0;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

#monitor #crt:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
            to bottom,
            rgba(18, 16, 16, 0.1) 50%,
            rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
    animation: fadeIn 2s;
}

body.fullscreen #crt {
    font-size: 2.5rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.terminal {
    position: relative;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    text-transform: uppercase;
    animation: textShadow 4s infinite;
}

.terminal,
.fullscreen {
    color: var(--color);
    text-shadow: 0 0 5px #c8c8c8;
}

::selection {
    background: var(--color);
    color: var(--bg);
    text-shadow: none;
}

/* Scanline moving top to bottom over the screen */
.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.2) 10%,
            rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    animation: scanline 10s linear infinite;
}

/* For really small screens, only show fullscreen mode */
@media only screen and (max-width: 425px), (max-height: 425px) {
    #crt {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
